<h1 mat-dialog-title>Add resource</h1>
<mat-radio-group [(ngModel)]="resourceData.type" aria-label="Select an option">
    <mat-radio-button style="margin-right: 10px;" value="1">Add HTML before</mat-radio-button>
    <mat-radio-button style="margin-right: 10px;" value="2">Add HTML after</mat-radio-button>
    <mat-radio-button style="margin-right: 10px;" value="3">Add HTML child</mat-radio-button>
    <mat-radio-button style="margin-right: 10px;" value="4">Add JS</mat-radio-button>
</mat-radio-group>
<div mat-dialog-content>
  <mat-form-field class="formFieldStretched">
    <textarea class="textAreaStretched" matInput [(ngModel)]="resourceData.text"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="resourceData" cdkFocusInitial>Save</button>
</div>