#customIframe
{
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% + 16px);
    margin-left: -8px;
    height: 100%;
}

#fancyContextMenu
{
    position: absolute;
    padding: 10px;
    border-radius: 6px;
    top: 50px;
    left: 50px;
    z-index: 1000;
    background-color: #673ab7;
    color: white;
    display: none;
}

.fancyContextMenuItem
{
    cursor: pointer;
    font-size: 20px;
    padding: 4px;
    margin: 4px;
}

.fancyContextMenuItem .material-icons
{
    vertical-align: sub;
}